@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav ms-auto">
    @if (HttpContextAccessor.HttpContext.Session.GetString("Username") != null)
    {
        <li class="nav-item">
            <span class="nav-link">👤 @HttpContextAccessor.HttpContext.Session.GetString("Username")</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Biolink" asp-action="Settings">⚙️ Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">📊 Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-light" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>
