@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to BioLinkWeb</h1>
<p>Ini adalah halaman landing sebelum login.</p>

@if (Context.Session.GetString("Username") == null)
{
    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Login</a>
}
else
{
    <p>Anda sudah login sebagai <b>@Context.Session.GetString("Username")</b>.</p>
    <a asp-controller="Auth" asp-action="Profile" class="btn btn-success">Go to Profile</a>
}
