@model IEnumerable<BioLinkWeb.Models.Link>
@{
    ViewData["Title"] = "Manage Links";
}
<h2>Manage Links</h2>

<a href="/Dashboard/CreateLink">Tambah Link</a>

<table class="table">
    <thead>
        <tr>
            <th>Icon</th>
            <th>Title</th>
            <th>URL</th>
            <th>Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var link in Model)
    {
        <tr>
            <td>@link.Icon</td>
            <td>@link.Title</td>
            <td>@link.Url</td>
            <td>@link.Order</td>
            <td>
                <a href="/Dashboard/EditLink/@link.Id">Edit</a> |
                <a href="/Dashboard/DeleteLink/@link.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
